﻿@model Blog_Application_4.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>
<h2>Add Comment</h2>
@Html.Partial("_addComment", new Blog_Application_4.Models.Comment(), ViewData);
<fieldset>
    <legend>Comment</legend>
    <div id="result">
        @foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(10))
        {
            <div class="display-field">
                <h2>Cach day: @Html.DisplayFor(x => comment.LastTime) phut</h2>
            </div>
            <div class="display-field">
                @Html.DisplayFor(x => comment.Body)
            </div>
        }
    </div>
</fieldset>
<fieldset>
    <legend>Tag</legend>
    @foreach (var tag in Model.Tags)
    {
        <h2>Tag</h2>
        <div class="display-field">
            @Html.ActionLink(tag.Content, "Details/" + tag.ID, "Tag");
        </div>
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
