﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - BongDa247.VN - Cuồng Nhiệt Cùng Bóng Đá</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
    </head>
    <body>
        <header style="height: 50px; background-color: #B09090">
            
            <form class="searchform" action="" method="get" style="text-align: center">
                <input class="s" onfocus="if (this.value == 'Search …') {this.value = '';}"
                       onblur="if (this.value == '') {this.value = 'Search …';}" type="text" name="s"
                       value="Search …" />
                <input class="searchsubmit" type="submit" value="Search" />
            </form>
           
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("BongDa247.vn", "Index", "Home")</p>
                   
                </div>
                
               
                <div class="float-right">
                    
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>

                        <ul id="menu">
                            <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                            <li>@Html.ActionLink("Bóng Đá Anh", "Index", "Home")</li>
                            <li>@Html.ActionLink("Bóng Đá Ý", "Index", "Home")</li>
                            <li>@Html.ActionLink("Bóng Đá Đức", "Index", "Home")</li>
                            <li>@Html.ActionLink("Bóng Đá TBN", "Index", "Home")</li>
                            <li>@Html.ActionLink("Bóng Đá Đức", "Index", "Home")</li>
                            <li>@Html.ActionLink("Bóng Đá Việt Nam", "Index", "Home")</li>
                            <li>@Html.ActionLink("Giải Đấu Cup", "Index", "Home")</li>
                            <li>@Html.ActionLink("Lịch Thi Đấu", "Index", "Home")</li>
                            <li>@Html.ActionLink("Chuyển Nhượng", "Index", "Home")</li>
                            <li>@Html.ActionLink("FanClub", "Index", "Home")</li>
                        </ul>
                    </nav>
             </div>
                
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
                
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - BongDa247.vn</p>
                </div>
            </div>
        </footer>

      
        @RenderSection("scripts", required: false)
    </body>
</html>
